/* ---------- GENERAL STYLING ---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: #151515;
}

body {
    height: 100vh;
    width: 100vw;
    color: #151515;
    background-color: #151515;
    font-family: Noticia Text Regular;
    opacity: 1;
    transition: 1s opacity;
    overflow-x: hidden;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

a {
    color: #151515;
}

/* ---------- SCROLLBAR ---------- */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #151515;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e97f71;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e06150;
}

/* ---------- FONTS & TEXT STYLES ---------- */

@font-face {
    font-family: Noticia Text Regular;
    src: url(../fonts/NoticiaText-Regular.ttf);
}

@font-face {
    font-family: Euclid Circular B Bold;
    src: url(../fonts/Euclid-Circular-B-Bold.ttf);
}

.stroked {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    transition: 0.3s ease-in-out;
}

.stroked-arrow {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    transition: 0.3s ease-in-out;
}

.stroked-arrow:hover {
    color: #fff;
    -webkit-text-stroke: none;
}

/* ---------- NAVIGATION ---------- */

.sidenav {
    height: 100%;
    width: 0;
    display: grid;
    place-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #151515;
    overflow-x: hidden;
    transition: 1s ease-in-out;
    z-index: 101;
}

.sidenav-link {
    display: block;
    color: #e06150;
    font-family: Euclid Circular B Bold;
    font-size: 120px;
    line-height: 1.1em;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.sidenav-link:hover,
.sidenav-link .stroked:hover {
    color: #fff;
}

.openbtn {
    position: absolute;
    top: 25px;
    right: 30px;
    color: #fff;
    font-size: 30px;
    z-index: 100;
}

.openbtn:hover {
    cursor: pointer;
}

.closebtn {
    position: absolute;
    top: -8px !important;
    right: 26px !important;
    color: #fff !important;
    font-size: 70px !important;
    text-decoration: none !important;
}

.sidenav-icon img {
    height: 70px;
    margin-bottom: 15px;
}

/* ---------- GALLERY CONTENT ---------- */

.gallery-carousel {
    height: 100vh;
}

.gallery-carousel a {
    text-decoration: none;
}

.intro {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: left;
    align-content: center;
    background-color: #e06150;
    counter-increment: carousel-cell;
}

.witchs-brew {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    background: url(../img/wb-thumbnail.jpg) center no-repeat;
    background-size: cover;
    counter-increment: carousel-cell;
}

.kofi {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    background: url(../img/kf-thumbnail.jpg) center center no-repeat;
    background-size: cover;
    counter-increment: carousel-cell;
}

.rw-digital {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    background: url(../img/rw-thumbnail.jpg) center center no-repeat;
    background-size: cover;
    counter-increment: carousel-cell;
}

.project-mammoth {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    background: url(../img/pm-thumbnail.jpg) center center no-repeat;
    background-size: cover;
    counter-increment: carousel-cell;
}

.eco-domes {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    background: url(../img/ec-thumbnail.jpg) center center no-repeat;
    background-size: cover;
    counter-increment: carousel-cell;
}

.cp2077-level {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    background: url(../img/cp-thumbnail.jpg) center no-repeat;
    background-size: cover;
    counter-increment: carousel-cell;
}

.intro h1 {
    width: 65%;
    padding-left: 100px;
    font-family: Euclid Circular B Bold;
    font-size: 120px;
    color: #fff;
    text-align: left;
    line-height: 1em;
}

.kofi h1,
.rw-digital h1,
.witchs-brew h1,
.project-mammoth h1,
.eco-domes h1,
.witchs-brew h1,
.cp2077-level h1 {
    margin: 0 auto;
    font-family: Euclid Circular B Bold;
    font-size: 100px;
    color: #fff;
    text-align: center;
    line-height: 1em;
    transition: 0.3s ease-in-out;
}

.cp2077-level h1:hover {
    cursor: not-allowed;
}

.splide__slide {
    filter: grayscale(1) !important;
    transition: 0.1s ease-in-out;
}

.splide__slide.is-active {
    filter: grayscale(0) !important;
}

/* ---------- CAROUSEL ELEMENTS ---------- */

.splide__pagination {
    display: none !important;
}

.splide__arrows {
    position: absolute;
    height: auto;
}

/* single arrow */
.gallery-carousel .splide__arrow {
    background: none !important;
    opacity: 1 !important;
}

button p {
    font-family: Euclid Circular B Bold;
    transition: 0.3s ease-in-out;
}

button p:hover {
    color: #fff;
    -webkit-text-stroke: none;
}

/* ---------- PROJECT CONTENT ---------- */

#page-content {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

#page-content h1 {
    width: 70%;
    margin: 0px 0 20px 0;
    color: #212121;
    font-family: Euclid Circular B Bold;
    font-size: 60px;
    line-height: 1.1em;
}

#page-content h2 {
    width: 70%;
    margin: 0px 0 20px 0;
    color: #212121;
    font-family: Euclid Circular B Bold;
}

#page-content p {
    font-size: 18px;
    line-height: 1.6em;
}

.page-text {
    margin-bottom: 4em;
}

/* rw website cards */
.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 30%);
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.card-rw {
    height: auto;
    padding: 185px 20px 20px 20px;
    background: url(../img/rw.png) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -8px rgba(21, 21, 21, 0.87);
    box-shadow: 0px 0px 14px -8px rgba(21, 21, 21, 0.87);
}

.card-sbt {
    height: auto;
    padding: 185px 20px 20px 20px;
    background: url(../img/sbt.png) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -8px rgba(21, 21, 21, 0.87);
    box-shadow: 0px 0px 14px -8px rgba(21, 21, 21, 0.87);
}

.card-vissa {
    height: auto;
    padding: 185px 20px 20px 20px;
    background: url(../img/vissa.png) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -8px rgba(21, 21, 21, 0.87);
    box-shadow: 0px 0px 14px -8px rgba(21, 21, 21, 0.87);
}

.card-horas {
    height: auto;
    padding: 185px 20px 20px 20px;
    background: url(../img/horas.png) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -8px rgba(21, 21, 21, 0.87);
    box-shadow: 0px 0px 14px -8px rgba(21, 21, 21, 0.87);
}

.card-icon {
    display: grid;
    place-items: center;
    align-content: center;
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 50%;
}

.card-icon img {
    height: 34px;
    width: 34px;
}

.card-rw h3,
.card-sbt h3,
.card-vissa h3,
.card-horas h3 {
    margin-bottom: 5px;
    font-family: Euclid Circular B Bold;
    color: #fff;
}

.card-rw p,
.card-sbt p,
.card-vissa p,
.card-horas p {
    width: 100% !important;
    color: #fff;
}

/* ---------- ABOUT PAGE ---------- */

.page-header {
    display: grid;
    place-items: center;
    align-content: center;
}

/* socials */
.social-icon {
    display: grid inline;
    place-items: center;
    align-content: center;
    height: 50px;
    width: 50px;
    margin: 0 10px 15px 0;
    background-color: #e06150;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.social-icon:hover {
    background-color: #151515;
}

.social-icon img {
    height: 32px;
    width: 32px;
    filter: invert(1);
}

/* timeline */
.timeline-items {
    margin: auto;
    position: relative;
    flex-wrap: wrap;
}

.timeline-items::before {
    content: '';
    height: 100%;
    width: 1px;
    margin-left: 10px;
    position: absolute;
    background-color: #969696;
}

.timeline-item {
    width: 100%;
    margin-bottom: 40px;
    padding: 6px 0 0 40px;
    position: relative;
}

.timeline-dot {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 15px;
    left: 3px;
    background-color: #e06150;
    border-radius: 50%;
}

.timeline-dot-stroked {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 15px;
    left: 3px;
    background: #fff;
    border: 2px solid #e06150;
    border-radius: 50%;
}

.timeline-date {
    margin: 6px 0 15px;
    color: #969696;
    font-family: monospace;
    font-size: 17px;
}

.timeline-content h3 {
    margin: 0 0 10px;
    color: #e06150;
    font-family: Euclid Circular B Bold;
    font-size: 20px;
}

.timeline-content p {
    color: #151515;
    font-size: inherit;
}

/* research card */
.card {
    height: auto;
    padding: 175px 20px 20px 20px;
    background: url(../img/subway-card.png) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -8px rgba(21, 21, 21, 0.87);
    box-shadow: 0px 0px 14px -8px rgba(21, 21, 21, 0.87);
}

.card h3 {
    margin-bottom: 5px;
    color: #fff;
    font-family: Euclid Circular B Bold;
}

.card p {
    width: 100% !important;
    color: #fff;
}

/* ---------- COPYRIGHT ---------- */

.copyright {
    margin-bottom: 1em;
    font-size: 16px;
}
