/* ---------- GENERAL STYLING ---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: #e06150;
}

body {
    height: 100vh;
    width: 100vw;
    color: #3f3f3f;
    background-color: #f7f7f7;
    font-family: Ninetea Medium;
    opacity: 1;
    transition: 1s opacity;
    overflow-x: hidden;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

a {
    color: #e06150;
}

ol {
    padding: 10px 0 10px 30px;
    color: #151515;
}

li {
    padding-left: 5px;
}


/* ---------- FONTS & TEXT STYLES ---------- */

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Medium.ttf);
}

.inter {
    font-family: Inter;
}

@font-face {
    font-family: Ninetea Regular;
    src: url(../fonts/Ninetea-Regular.ttf);
}

@font-face {
    font-family: Ninetea Medium;
    src: url(../fonts/Ninetea-Medium.ttf);
}

@font-face {
    font-family: Ninetea Bold;
    src: url(../fonts/Ninetea-Bold.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

.stroked {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    transition: 0.3s ease-in-out;
}

.citation {
    font-size: 60%;
    vertical-align: super;
}


/* ---------- SCROLLBAR ---------- */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f2eee7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e97f71;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e06150;
}


/* ---------- SCROLL DOTS ----------*/

#scroll {
    position: fixed;
    top: 45%;
    right: 40px;
    z-index: 999;
}

.scroll_item {
    border: 2px solid #FFF;
    width: 12px;
    height: 12px;
    margin: 12px 0 0 0;
    border-radius: 50%;
}

.scroll_item_active {
    border: 2px solid #FFF;
    width: 12px;
    height: 12px;
    background-color: #FFF;
}

#first1 {
    height: 100vh;
}

#second1 {
    height: auto;
}

#third1 {
    height: auto;
}


/* ---------- FADING ELEMENTS ---------- */

.hidden {
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.show {
    opacity: 1;
}


/* ---------- NAVIGATION ---------- */

.sidenav {
    height: 100%;
    width: 0;
    display: grid;
    place-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #151515;
    overflow-x: hidden;
    transition: 1s ease-in-out;
    z-index: 1000;
}

.sidenav-link {
    display: block;
    color: #e97f71;
    font-family: Ninetea Bold;
    font-size: 120px;
    line-height: 1.1em;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.sidenav-link:hover,
.sidenav-link .stroked:hover {
    color: #fff;
}

.openbtn,
.closebtn {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 100;
}

.openbtn img {
    height: 30px;
}

.openbtn:hover {
    cursor: pointer;
}

.closebtn img {
    height: 30px;
}

.sidenav-icon img {
    height: 70px;
    margin-bottom: 15px;
}


/* ---------- HOME PAGE ---------- */

.header {
    width: 100vw;
    height: 100vh;
    background-color: #f2c7b8;
}

.header-text {
    font-family: Ninetea Medium;
    color: #fff;
    font-size: 80px;
    text-align: center;
    line-height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glow {
    background: url(../img/glow-circle.png) center center no-repeat;
    background-size: contain;
    z-index: 99;
    object-fit: contain;
}

.glow-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    object-fit: contain;
}

.arrow {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10%;
}


/* ---------- PORTFOLIO GALLERY ---------- */

/* container */
.portfolio {
    height: auto;
    background-color: #f2eee7;
    padding: 8em 0;
}

.portfolio-title {
    font-family: Ninetea Medium;
    color: #e06150;
    font-size: 60px;
    text-align: center;
    line-height: 1em;
    margin-bottom: 70px;
}

/* grid */
#project-gallery {
    display: grid;
    grid-template-columns: repeat(1, 25% 5% 25% 5% 25%);
    gap: 1%;
}

.project1 {
    height: 250px;
    margin-bottom: 10px;
    background: url(../img/thumbnail-cp2077.png) center center no-repeat;
    background-size: cover;
}

.project2 {
    height: 250px;
    margin-bottom: 10px;
    background: url(../img/thumbnail-rwdigital.png) center center no-repeat;
    background-size: cover;
}

.project3 {
    height: 250px;
    margin-bottom: 10px;
    background: url(../img/thumbnail-twb.png) center center no-repeat;
    background-size: cover;
}

.project4 {
    height: 250px;
    margin-bottom: 10px;
    background: url(../img/thumbnail-projectmammoth.png) center center no-repeat;
    background-size: cover;
}

.project5 {
    height: 250px;
    margin-bottom: 10px;
    background: url(../img/thumbnail-kofi.png) center center no-repeat;
    background-size: cover;
}

.empty {
    height: 250px;
    margin-bottom: 10px;
    border: 2px solid #e06150;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #e06150;
}

.project-title {
    color: #e06150;
    font-size: 25px;
    line-height: 1.1em;
    padding: 5px 0;
}

.project-title a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.project-title a:hover {
    color: #151515;
}

.project-gallery p {
    line-height: 0.9em;
    color: #3f3f3f;
}

/* container */
.star {
    position: relative;
    height: 250px;
}

.star img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ---------- ABOUT SECTION ---------- */

/* container */
.about {
    height: auto;
    background-color: #e06150;
    padding: 8em 0;
}

.arrow2-container {
    position: relative;

}

.arrow2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

/* actual content */
#about-content {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 57% 43%);
    background-color: #e06150;
    transition: 0.5s ease-in-out;
    margin-top: 5em;
}

.about-title {
    font-size: 55px;
    margin: 15px 0 10px 0;
    color: #fff;
}

.text {
    font-size: 18px;
    color: #fff;
    font-family: Raleway;
    line-height: 1.4em;
}

/* container */
.about-img {
    background: url(../img/avatar.png) right center no-repeat;
    background-size: contain;
    height: 450px;
    margin: -1.5em 3em 0 0;
}

/* socials */
.social-icon {
    display: grid inline;
    place-items: center;
    align-content: center;
    height: 45px;
    width: 45px;
    margin: 15px 10px 12px 0;
    background-color: #e97f71;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.social-icon:hover {
    background-color: #f2c7b8;
}

.social-icon img {
    height: 30px;
    width: 30px;
    filter: invert(1);
}


/* ---------- FOOTER COPYRIGHT ---------- */

#footer {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px 0;
    background-color: #f2c7b8;
    color: #3f3f3f;
    text-align: center;
    font-size: 12px;
}


/* ---------- PROJECT CONTENT ---------- */

.project-header {
    width: 100vw;
    height: 50vh;
    background-color: #e06150;
    display: grid;
    place-items: center;
    align-content: center;
    position: relative;
}

.project-header-text {
    font-family: Ninetea Medium;
    color: #fff;
    font-size: 80px;
    text-align: center;
    line-height: 1em;
    z-index: 2;
    padding: 1em 0 10px 0;
}

.project-header-subtitle {
    font-family: Raleway;
    color: #fff;
    font-size: 23px;
    text-align: center;
    z-index: 2;
}

#page-content {
    height: auto;
    margin: 0 auto;
    padding: 1em 0;
}

.description {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 60% 40%);
    gap: 8em;
    padding: 5em 0;
    margin: 0 auto;
    font-family: Raleway;
}

.overview {
    font-size: 20px;
    line-height: 1.6em;
    color: #1f1f1f;
}

.details {
    line-height: 1.4em;
    width: auto;
}

.details-title {
    color: #e97f71;
}

#page-content h2 {
    font-family: Ninetea Medium;
    color: #e06150;
    padding-bottom: 20px;
}

.regular-content {
    font-family: Raleway;
    font-size: 20px;
    line-height: 1.6em;
    width: 60%;
    margin-top: 2.5em;
}

/* images */
.single-img {
    padding: 0 50px 10px 20px;
}

.split-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px 20px 20px;
    gap: 15px;
}

.post-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1em;
    padding: 0 20px 20px 20px;
    gap: 15px;
}

.post-grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3em;
    padding: 0 20px 20px 20px;
    gap: 15px;
}

.post-grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 3em;
    padding: 0;
    gap: 15px;
}


/* project-specific elements */

/* the witch's brew */
.twb-video {
    background: url(../media/witchs-brew-video.mp4) center center;
    background-size: cover;
}

/* rw digital */
.client-grid {
    display: grid;
    grid-template-columns: repeat(3, 22% 22% 25%);
    margin: 30px 0 4em 0;
    max-width: 100%;
}

.client-grid img {
    height: 80px;
    width: auto;
}

.client1,
.client2,
.client3 {
    display: grid;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.client1:hover,
.client2:hover,
.client3:hover {
    transform: scale(1.1);
}

/* project mammoth */
.quote {
    border-left: 3px solid #e06150;
    padding-left: 15px;
    margin-bottom: 15px;
    height: auto;
    display: block;
}

.read-more {
    padding: 10px 25px 9px 25px;
    font-size: 17px;
    background-color: #c6c6c6;
    color: #868686;
    border-radius: 30px;
    border: 2px solid #fff;
    text-align: center;
    font-family: Ninetea Medium;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
}

/* .read-more:hover {
    cursor: pointer;
    background-color: #f2eee7;
    color: #e06150;
} */

/* case study */
.cs-quote {
    border-left: 3px solid #e06150;
    font-size: 90%;
    padding-left: 15px;
    margin-bottom: 15px;
    height: auto;
    display: block;
    line-height: 1.6em;
}

.caption {
    font-size: 14px;
    color: #909090;
    margin-top: 10px;
    font-family: Ninetea Regular;
}
