/* ---------------------------------------------------------------------------------
Tany Dourev — Design Portfolio
Lovingly coded by yours truly.
___   __  ___  ____  ___   __  __    __  __  
(  ,\ /  \(  ,)(_  _)(  _) /  \(  )  (  )/  \ 
 ) _/( () ))  \  )(   ) _)( () ))(__  )(( () )
(_)   \__/(_)\_)(__) (_)   \__/(____)(__)\__/ 

© Tany Dourev, 2024. All Rights Reserved.
Do not re-post, re-produce or claim credit for the works posted on this website.
Failure to respect content credit policies makes you a bad internet citizen :]
--------------------------------------------------------------------------------- */

/* large monitor */
@media only screen and (min-width: 1600px) {

    #open-button,
    #responsive-navigation {
        display: none;
    }

    .about-text {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .about-polaroids {
        height: 900px;
    }

    .about-polaroids-small {
        display: none !important;
    }
}

/* regular laptop */
@media only screen and (min-width: 1200px) and (max-width: 1599px) {

    #open-button,
    #responsive-navigation {
        display: none;
    }

    .about-polaroids-small {
        display: none !important;
    }
}

/* small laptop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    #open-button,
    #responsive-navigation {
        display: none;
    }

    #intro-text,
    #project-gallery,
    #experience,
    #extra-projects {
        width: 85%;
    }

    .project-info {
        bottom: 25px;
        left: 25px;
    }

    .project-title {
        line-height: 134%;
        width: 450px;
    }

    .project-subtitle {
        font-size: 15px;
        width: 90%;
    }

    #footer-name {
        line-height: 1.1em;
    }

    #copyright {
        padding-top: 100px;
    }

    .research-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        background-color: #FFFFFF70;
        border: 2px solid #F6F6F6;
        border-radius: 15px;
    }

    .research-card-image {
        height: 100%;
        margin-bottom: 20px;
    }

    .about-polaroids {
        height: 500px;
    }

    .about-polaroids-small {
        display: none !important;
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    #open-button,
    #responsive-navigation {
        display: none;
    }

    #intro-text {
        width: 90%;
    }

    #project-gallery {
        width: 90%;
    }

    .grid-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .project-grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .project-grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-1,
    .project-2,
    .project-3,
    .project-4,
    .project-5,
    .project-6 {
        height: 400px;
    }

    .project-2,
    .project-4 {
        margin-bottom: 0;
    }

    #experience {
        width: 90%;
        padding-bottom: 100px;
    }

    #extra-projects {
        width: 90%;
        padding: 50px 0;
    }

    .extra-project {
        height: 400px;
        margin-bottom: 15px;
    }

    footer {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }

    #footer-name {
        font-size: 80px;
    }

    #copyright {
        font-size: 13px;
        text-align: right;
        padding-top: 20px;
    }

    #about-intro-text {
        width: 90%;
    }

    .about-title {
        font-size: 45px;
    }

    .about-info {
        font-size: 17px;
        padding: 5px 40px 20px 0;
    }

    #experience-about {
        width: 90%;
        padding-bottom: 50px;
    }

    #education-about {
        width: 90%;
        padding-bottom: 50px;
    }

    #research {
        width: 90%;
    }

    .research-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        background-color: #FFFFFF70;
        border: 2px solid #F6F6F6;
        border-radius: 15px;
    }

    .research-card-image {
        height: 100%;
        margin-bottom: 20px;
    }

    .research-card-text {
        padding-left: 0;
    }

    .about-polaroids {
        height: 475px;
    }

    .about-polaroids-small {
        display: none !important;
    }

    #error-text {
        width: 80%;
    }

    .error-title {
        font-size: 45px;
        line-height: 1.2em;
    }
    
    .error-text {
        font-size: 20px;
        line-height: 1.3em;
        padding-top: 15px;
    }

    #project-intro-text {
        width: 90%;
    }

    .project-page-title {
        font-size: 45px;
    }

    .project-page-subtitle {
        font-size: 25px;
    }

    .text {
        width: 90%;
        padding: 0 0 10px 0;
    }

    .wip-tag {
        margin-top: 20px;
        width: auto;
    }

    .grid-split {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-split img {
        height: 400px;
    }
}

/* landscape phone */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    #navigation-links {
        position: absolute;
        top: -30px;
        right: 20px;
        text-align: right;
    }

    .navigation-link {
        display: none;
    }

    #intro-text {
        width: 90%;
        padding-top: 50px;
    }

    .home-title {
        font-size: 24px;
    }

    .home-subtitle {
        margin-top: 40px;
        font-size: 14px;
        float: left;
    }

    #side-scroll {
        margin-bottom: 100px;
        font-size: 70px;
        color: #644A7530;
    }

    .grid-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    #project-gallery {
        width: 90%;
        padding-bottom: 50px;
    }

    .project-tags {
        display: none;
    }

    .project-info {
        bottom: 18px;
        left: 18px;
    }

    .project-title {
        font-size: 30px;
        line-height: 134%;
        width: 90%;
    }

    .project-subtitle {
        font-size: 15px;
        width: 90%;
    }

    .project-1,
    .project-2,
    .project-3,
    .project-4,
    .project-5,
    .project-6 {
        height: 300px;
    }

    .project-2,
    .project-4 {
        margin-bottom: 0;
    }

    #experience {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        padding-bottom: 50px;
    }

    .experience-title {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .role {
        font-size: 18px;
        padding-bottom: 5px;
    }

    .details {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .year {
        font-size: 14px;
        padding-bottom: 10px;
    }

    #extra-projects {
        width: 90%;
        padding: 50px 0;
    }

    .extra-projects-title {
        font-size: 25px;
        padding-bottom: 5px;
    }

    .extra-projects-subtitle {
        font-size: 15px;
    }

    .extra-project {
        height: 300px;
        margin-bottom: 15px;
    }

    footer {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        padding-bottom: 50px;
    }

    #footer-name {
        font-size: 60px;
        line-height: 1.1em;
    }

    #copyright {
        font-size: 13px;
        text-align: left;
        padding-top: 20px;
    }

    #about-intro-text {
        width: 90%;
        padding: 30px 0 50px 0;
    }

    .about-title {
        font-size: 45px;
    }

    .about-text {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-info {
        font-size: 17px;
        padding: 5px 0 20px 0;
    }

    #experience-about {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    #education-about {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    #research {
        width: 90%;
    }

    .research-about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .research-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        background-color: #FFFFFF70;
        border: 2px solid #F6F6F6;
        border-radius: 15px;
    }

    .research-card-image {
        height: 100%;
        margin-bottom: 20px;
    }

    .research-card-text {
        padding-left: 0;
    }

    .about-polaroids {
        display: none !important;
    }

    .about-polaroids-small {
        height: 380px;
    }

    #error-text {
        width: 80%;
    }

    .error-title {
        font-size: 45px;
        line-height: 1.2em;
    }
    
    .error-text {
        font-size: 20px;
        line-height: 1.3em;
        padding-top: 15px;
    }

    #project-intro-text {
        width: 90%;
        padding: 30px 0 50px 0;
    }

    .project-page-title {
        font-size: 45px;
    }

    .project-page-subtitle {
        font-size: 25px;
    }

    .project-page-tag {
        display: block;
    }

    .text {
        width: 90%;
        padding: 0 0 10px 0;
    }

    .wip-tag {
        margin-top: 15px;
        width: auto;
    }

    .grid-2, .project-grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .grid-3, .project-grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .grid-4, .project-grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-split {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-split img {
        height: 400px;
    }
}

/* phone */
@media only screen and (max-width: 599px) {
    #navigation-links {
        position: absolute;
        top: -30px;
        right: 20px;
        text-align: right;
    }

    .navigation-link {
        display: none;
    }

    #intro-text {
        width: 90%;
        padding-top: 50px;
    }

    .home-title {
        font-size: 24px;
    }

    .home-subtitle {
        margin-top: 40px;
        font-size: 14px;
        float: left;
    }

    #side-scroll {
        margin-bottom: 100px;
        font-size: 70px;
        color: #644A7530;
    }

    .grid-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    #project-gallery {
        width: 90%;
        padding-bottom: 50px;
    }

    .project-tags {
        display: none;
    }

    .project-info {
        bottom: 18px;
        left: 18px;
    }

    .project-title {
        font-size: 30px;
        line-height: 134%;
        width: 90%;
    }

    .project-subtitle {
        font-size: 15px;
        width: 90%;
    }

    .project-1,
    .project-2,
    .project-3,
    .project-4,
    .project-5,
    .project-6 {
        height: 300px;
    }

    .project-2,
    .project-4 {
        margin-bottom: 0;
    }

    #experience {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .experience-title {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .role {
        font-size: 18px;
        padding-bottom: 5px;
    }

    .details {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .year {
        font-size: 14px;
        padding-bottom: 10px;
    }

    #extra-projects {
        width: 90%;
        padding: 50px 0;
    }

    .extra-projects-title {
        font-size: 25px;
        padding-bottom: 5px;
    }

    .extra-projects-subtitle {
        font-size: 15px;
    }

    .extra-project {
        height: 300px;
        margin-bottom: 15px;
    }

    footer {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        padding-bottom: 50px;
    }

    #footer-name {
        font-size: 60px;
        line-height: 1.1em;
    }

    #copyright {
        font-size: 13px;
        text-align: left;
        padding-top: 20px;
    }

    #about-intro-text {
        width: 90%;
        padding: 30px 0 50px 0;
    }

    .about-title {
        font-size: 45px;
    }

    .about-text {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-info {
        font-size: 17px;
        padding: 5px 0 20px 0;
    }

    #experience-about {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    #education-about {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    #research {
        width: 90%;
    }

    .research-about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .research-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        background-color: #FFFFFF70;
        border: 2px solid #F6F6F6;
        border-radius: 15px;
    }

    .research-card-image {
        height: 100%;
        margin-bottom: 20px;
    }

    .research-card-text {
        padding-left: 0;
    }

    .about-polaroids {
        display: none !important;
    }

    .about-polaroids-small {
        height: 380px;
    }

    #error-text {
        width: 80%;
    }

    .error-title {
        font-size: 45px;
        line-height: 1.2em;
    }
    
    .error-text {
        font-size: 20px;
        line-height: 1.3em;
        padding-top: 15px;
    }

    #project-intro-text {
        width: 90%;
        padding: 30px 0 50px 0;
    }

    .project-page-title {
        font-size: 45px;
    }

    .project-page-subtitle {
        font-size: 25px;
    }

    .project-page-tag {
        display: block;
    }

    .text {
        width: 90%;
        padding: 0 0 10px 0;
    }

    .wip-tag {
        margin-top: 15px;
        width: 80%;
    }

    .grid-2, .project-grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .grid-3, .project-grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .grid-4, .project-grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-split {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-split img {
        height: 400px;
    }
}