/* ----- GENERAL ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    max-width: 100%;
    background-color: #151515;
    color: #FFF;
    font-family: SF Pro Display;
    letter-spacing: 0.5px;

    cursor: crosshair;
    opacity: 1;
    transition: 0.8s opacity;
    overflow-y: hidden;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

b {
    font-family: SF Pro Bold;
}

hr {
    width: 10%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

/* ----- LISTS ----- */

ul {
    padding-inline-start: 10px;
    padding-top: 10px;
    list-style-type: "⁕";
}

li {
    line-height: 1.5em;
    text-align: left;
    padding-left: 10px;
}

/* -------------------------------------------------------------------------------- */

/* ----- FONTS ----- */

@font-face {
    font-family: SF Pro Display;
    src: url(../fonts/SF-Pro-Display-Light.otf);
}

@font-face {
    font-family: SF Pro Bold;
    src: url(../fonts/SF-Pro-Display-Bold.otf);
}

a {
    color: #FFFFFF;
    text-decoration: underline;
}

/* -------------------------------------------------------------------------------- */

/* ----- GRIDS ----- */

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


/* -------------------------------------------------------------------------------- */

/* ----- HOME ----- */

#container {
    padding: 40px 40px 30px 40px;
}

/* -------------------------------------------------------------------------------- */

/* ----- NAVIGATION ----- */

#navigation {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 65px;
}

.navigation-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.link {
    text-align: right;
}

/* -------------------------------------------------------------------------------- */

/* ----- HOME ----- */

#home-content {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 50px;
}

#project-list {
    padding: 0 60px;
}

.project {
    display: grid;
    grid-template-columns: auto 10%;
    margin-bottom: -10px;
}

.big-text {
    font-family: SF Pro Bold;
    font-size: 60px;
    line-height: 1.1em;
}

.bio {
    line-height: 1.4em;
}

.project p {
    margin-bottom: 5px;
    font-family: SF Pro Display;
    text-align: right;
    color: #FFFFFF50;
    align-self: end;
}

.bio {
    margin: 20px 0;
    font-size: 22px;
}

/* -------------------------------------------------------------------------------- */

/* ----- PROJECT PAGES ----- */

#page-content {
    display: grid;
    grid-template-columns: 32% 73%;
    gap: 100px;
}

#project-content {
    height: 75dvh;
    width: 84%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-right: 30px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
    background: #292929;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

#project-info {
    position: static;
}

.section-title {
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #FFFFFF50;
}

.page-text {
    font-size: 16px;
    line-height: 1.5em;
}

.design-challenge {
    margin-bottom: 10px;
    font-family: SF Pro Bold;
    font-size: 22px;
    background: linear-gradient(90deg, #e9f7df 0%, #b0ee81 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bold-title {
    margin-bottom: 5px;
    font-family: SF Pro Bold;
    font-size: 22px;
    color: #FFFFFF;
}

/* -------------------------------------------------------------------------------- */

/* ----- CARDS ----- */

.card-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 15px;
    border: 2px solid #242424;
}

.caption {
    font-size: 13px;
    line-height: 1.3em;
    margin: 5px 0 25px 0;
    color: #999;
}
