/* project pages */

.title {
    margin: 60px 0 0 0;
    letter-spacing: 0.02em;
    font-weight: 600;
}

.subtitle {
    letter-spacing: 0.06em;
    padding: 20px 45px 10px 45px;
    font-weight: 600;
}

.project-desc {
    color: #171717;
    font-size: 25px;
    line-height: 1.4em;
    padding: 30px 0 50px 0;
}

.project-text {
    color: #171717;
    font-size: 21px;
    line-height: 1.4em;
    padding: 10px 0 10px 0;
}

.back-button {
    color: #fff;
    margin: 80px 0 50px 0;
    text-align: center;
    font-size: 20px;
}


/*eco domes*/

.eco-header {
    background: url(/img/eco-domes/render-1.png) center center no-repeat;
    background-size: cover;
    height: 500px;
    padding: 0 !important;
}


/*obsidio*/

.obsidio-header {
    background: url(/img/obsidio/obsidio-header.png) center center no-repeat;
    background-size: cover;
    height: 500px;
    padding: 0 !important;
}


/*cp2077 level*/

.level-header {
    background: url(/img/cp2077-level/unity-5.png) center center no-repeat;
    background-size: cover;
    height: 500px;
    padding: 0 !important;
}

.info-box {
    border: solid 1px #171717;
    padding: 20px !important;
    font-size: 21px;
    margin: 40px 0 40px 0;
}

.chat-box-R {
    max-width: 60%;
    border: solid 1px #171717;
    border-radius: 0 30px 30px 30px;
    background-color: #171717;
    color: #fff;
    padding: 20px !important;
    font-size: 21px;
    margin: 0 0 40px 0;
    position: relative;
    float: left;
}

.chat-box-V {
    max-width: 60%;
    border: solid 1px #171717;
    border-radius: 30px 0 30px 30px;
    padding: 20px !important;
    font-size: 21px;
    margin: 0 0 40px 0;
    position: relative;
    float: right !important;
    overflow: auto;
}


/*rw digital*/

.rw-digital-header {
    background: url(/img/rw-digital/business-card-mockup.png) center center no-repeat;
    background-size: cover;
    height: 500px;
    padding: 0 !important;
}


/*project mammoth*/

.pm-header {
    background: url(/img/project-mammoth/pm-1.png) center center no-repeat;
    background-size: cover;
    height: 500px;
    padding: 0 !important;
}


/*voxel art*/

.voxel-header {
    background: url(/img/voxel-art/voxel-art-header.png) center center no-repeat;
    background-size: cover;
    height: 500px;
    padding: 0 !important;
}


/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #projectContent {
        max-width: 80%;
        margin: 0 auto;
    }

    .chat-box-R {
        max-width: 75%;
    }

    .chat-box-V {
        max-width: 75%;
    }

    .moodboard {
        display: none;
    }

    .cyberpsycho {
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #projectContent {
        max-width: 80%;
        margin: 0 auto;
    }

    .chat-box-R {
        max-width: 75%;
    }

    .chat-box-V {
        max-width: 75%;
    }

    .moodboard {
        display: none;
    }

    .cyberpsycho {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #projectContent {
        max-width: 80%;
        margin: 0 auto;
    }

    .chat-box-R {
        max-width: 75%;
    }

    .chat-box-V {
        max-width: 75%;
    }

    .moodboard {
        display: none;
    }

    .cyberpsycho-2 {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #projectContent {
        max-width: 80%;
        margin: 0 auto;
    }

    .moodboard-2 {
        display: none;
    }

    .cyberpsycho-2 {
        display: none;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    #projectContent {
        max-width: 70%;
        margin: 0 auto;
    }

    .moodboard-2 {
        display: none;
    }

    .cyberpsycho-2 {
        display: none;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) and (max-width: 1599.98px) {
    #projectContent {
        max-width: 70%;
        margin: 0 auto;
    }

    .moodboard-2 {
        display: none;
    }

    .cyberpsycho-2 {
        display: none;
    }
}

/* XXX-Large devices (larger monitors, 1600px and up) */
@media (min-width: 1600px) {
    #projectContent {
        max-width: 70%;
        margin: 0 auto;
    }

    .moodboard-2 {
        display: none;
    }

    .cyberpsycho-2 {
        display: none;
    }
}
