/* ---------- MEDIA QUERIES ----------*/

/* large monitor */
@media only screen and (min-width: 1600px) {
    #page-content p {
        width: 60%;
    }
}

/* regular laptop */
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    #page-content p {
        width: 60%;
    }
}

/* small laptop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .sidenav a {
        font-size: 90px;
    }

    .kofi h1,
    .rw-digital h1,
    .project-mammoth h1,
    .eco-domes h1,
    .witchs-brew h1,
    .cp2077-level h1 {
        width: 80%;
        margin: 0 auto;
        font-size: 90px;
    }

    #page-content {
        padding: 4em 0 4em 6em;
    }

    #page-content h1 {
        width: 80%;
    }

    #page-content p {
        width: 80%;
    }

    .carousel-triple {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sidenav a {
        font-size: 90px;
    }

    .kofi h1,
    .rw-digital h1,
    .project-mammoth h1,
    .eco-domes h1,
    .witchs-brew h1,
    .cp2077-level h1 {
        width: 80%;
        margin: 0 auto;
        font-size: 90px;
    }

    #page-content {
        padding: 4em 0 4em 4em;
    }

    #page-content h1 {
        width: 90%;
    }

    #page-content p {
        width: 90%;
    }

    .image-padding {
        margin: 2em;
    }

    .image-double {
        grid-template-columns: repeat(2, 1fr);
        margin: 2em;
    }

    .image-triple {
        grid-template-columns: repeat(3, 1fr);
        margin: 1em;
    }

    .carousel-triple {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* landscape phone */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .sidenav a {
        font-size: 70px;
    }

    .kofi h1,
    .rw-digital h1,
    .project-mammoth h1,
    .eco-domes h1,
    .witchs-brew h1,
    .cp2077-level h1 {
        width: 80%;
        margin: 0 auto;
        font-size: 70px;
    }

    #page-content {
        display: block;
        padding: 4em;
    }

    #page-content h1 {
        width: 90%;
    }

    #page-content p {
        display: block;
        width: 90%;
    }

    .element {
        margin-bottom: 1.5em;
    }

    .about {
        margin-top: -4em;
    }

    .image-padding {
        margin: 1em;
    }

    .image-double {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        margin: 1em;
    }

    .image-triple {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        margin: 1em;
    }

    .carousel-triple {
        grid-template-columns: repeat(2, 1fr);
    }

    .environments-carousel {
        margin-top: 1em;
    }
}

/* phone */
@media only screen and (max-width: 599px) {
    .sidenav a {
        font-size: 55px;
    }

    .kofi h1,
    .rw-digital h1,
    .project-mammoth h1,
    .eco-domes h1,
    .witchs-brew h1,
    .cp2077-level h1 {
        width: 80%;
        margin: 0 auto;
        font-size: 55px;
    }

    #page-content {
        display: block;
        padding: 2.5em 2.5em 4em 2.5em;
    }

    #page-content h1 {
        width: 100%;
    }

    #page-content p {
        display: block;
        width: 100%;
        font-size: 17px;
    }

    .element {
        margin-bottom: 1.5em;
    }

    .about {
        margin-top: -2em;
    }

    .image-padding {
        margin: 1em;
    }

    .image-double {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        margin: 1em;
    }

    .image-triple, .carousel-triple {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        margin: 1em;
    }

    .rw-carousel {
        margin-bottom: 20px;
    }

    .environments-carousel {
        margin-top: 1em;
    }
}
