/* ---------- MEDIA QUERIES ----------*/

/* large monitor */
@media only screen and (min-width: 1600px) {

    .header-text {
        width: 60%;
    }

    #project-gallery {
        width: 70%;
        margin-left: 22em;
    }

    .star3 {
        display: none;
    }

    .project-description {
        margin-bottom: 40px;
    }

    #about-content {
        width: 80%;
    }

    .arrow2-container {
        height: 99px;
    }

    #page-content {
        width: 70%;
    }

    .description {
        grid-template-columns: repeat(1, 60% 40%);
    }

    .regular-content {
        width: 60%;
    }

    .single-img {
        padding: 0 30px 10px 30px;
    }

    .split-img {
        padding: 0 45px 15px 30px;
    }

    .rw-branding {
        margin-top: 2.5em;
    }
}

/* regular laptop */
@media only screen and (min-width: 1200px) and (max-width: 1599px) {

    .openbtn img,
    .closebtn img {
        height: 25px;
    }

    .header-text {
        width: 60%;
    }

    #project-gallery {
        width: 85%;
        margin-left: 11em;
    }

    .star3 {
        display: none;
    }

    .project-description {
        margin-bottom: 40px;
    }

    .about {
        padding: 6em 0 8em 0;
    }

    #about-content {
        width: 85%;
    }

    .arrow2-container {
        height: 80px;
    }

    #page-content {
        width: 80%;
    }

    .description {
        grid-template-columns: repeat(1, 60% 40%);
    }

    .regular-content {
        width: 60%;
    }

    .single-img {
        padding: 0 30px 10px 20px;
    }

    .split-img {
        padding: 0 45px 15px 20px;
    }

    .post-grid-3 {
        padding: 0 45px 20px 20px;
    }

    .client-grid {
        grid-template-columns: repeat(3, 24% 24% 27%);
        margin: 30px 20px 4em 20px;
    }

    .rw-branding {
        margin-top: 2.5em;
    }
}

/* small laptop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .openbtn img,
    .closebtn img {
        height: 25px;
    }

    .header-text {
        width: 80%;
    }

    #project-gallery {
        width: 90%;
        margin-left: 7.5em;
    }

    .star3 {
        display: none;
    }

    .project-description {
        margin-bottom: 40px;
    }

    .arrow2-container {
        height: 92px;
    }

    #about-content {
        width: 90%;
        grid-template-columns: repeat(1, 55% 45%);
        margin-top: 5em;
    }

    .about-img {
        height: 450px;
        margin: -0.5em 3em 0 7.5em;
    }

    .about-btn,
    .connect-btn {
        margin: 0 10px 10px 0;
        font-size: 15px;
    }

    #page-content {
        width: 90%;
    }

    .description {
        grid-template-columns: repeat(1, 55% 35%);
    }

    .regular-content {
        width: 55%;
    }

    .single-img {
        padding: 0 20px 10px 20px;
    }

    .split-img {
        padding: 0 35px 15px 20px;
    }

    .post-grid-4 {
        grid-template-columns: repeat(2, 50%);
        padding: 0 35px 15px 20px;
        margin-top: 2em;
    }

    .post-grid-3 {
        grid-template-columns: repeat(2, 50%);
        padding: 0 35px 15px 20px;
        margin-bottom: 0;
    }

    .client-grid {
        grid-template-columns: repeat(3, 30% 30% 34%);
        margin: 30px 20px 4em 20px;
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    #scroll {
        top: 45%;
        right: 30px !important;
    }

    .openbtn img,
    .closebtn img {
        height: 25px;
    }

    .openbtn,
    .closebtn {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 100;
    }

    .header-text {
        width: 70%;
        font-size: 70px;
    }

    .star2,
    .star4 {
        display: none;
    }

    .portfolio-title {
        font-size: 55px;
    }

    #project-gallery {
        grid-template-columns: repeat(1, 42% 8% 42%);
        width: 85%;
        margin-left: 5em;
    }

    .project-description {
        margin-bottom: 35px;
    }

    .arrow2-container {
        height: 92px;
    }

    #about-content {
        width: 85%;
        grid-template-columns: repeat(1, 100%);
        margin: 0 auto;
    }

    .about-img {
        height: 450px;
        margin: 3em 0em;
        background-position: center;
    }

    .about-buttons {
        text-align: center;
    }

    .about-btn,
    .connect-btn {
        margin: 0 10px 10px 0;
        font-size: 15px;
    }

    .about-title,
    .connect-title {
        font-size: 55px;
        margin: 30px 0 10px 0;
        color: #fff;
        text-align: center;
    }

    #showAbout,
    #showConnect {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .card {
        margin: 0 auto;
    }

    #page-content {
        width: 85%;
    }

    .description {
        grid-template-columns: repeat(1, 100%);
        gap: 3em;
    }

    .regular-content {
        width: 100%;
    }

    .single-img {
        padding: 0 20px 10px 20px;
    }

    .split-img {
        padding: 0 35px 15px 20px;
    }

    .post-grid-4 {
        grid-template-columns: repeat(2, 50%);
        padding: 0 35px 15px 20px;
        margin-top: 2em;
    }

    .post-grid-3 {
        grid-template-columns: repeat(2, 50%);
        padding: 0 35px 15px 20px;
        margin-bottom: 0;
    }

    .client-grid {
        grid-template-columns: repeat(3, 20% 20% 25%);
        margin: 30px 20px 4em 20px;
    }
}

/* landscape phone */
@media only screen and (min-width: 600px) and (max-width: 767px) {

    #scroll {
        display: none;
    }

    .openbtn img,
    .closebtn img {
        height: 25px;
    }

    .openbtn,
    .closebtn {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 100;
    }

    .header-text {
        width: 80%;
        font-size: 60px;
    }

    .portfolio {
        padding: 6em 40px 17em 40px !important;
    }

    .portfolio-title {
        font-size: 50px;
    }

    .star {
        display: none;
    }

    #project-gallery {
        grid-template-columns: repeat(1, 100%);
        width: 100%;
        gap: 2%;
    }

    .arrow2-container {
        height: 91px;
    }

    #about-content {
        width: 85%;
        grid-template-columns: repeat(1, 100%);
        margin: 0 auto;
    }

    .about-img {
        height: 450px;
        margin: 3em 0em;
        background-position: center;
    }

    .about-buttons {
        text-align: center;
    }

    .about-btn,
    .connect-btn {
        margin: 0 10px 0px 0;
        font-size: 15px;
    }

    .about-title,
    .connect-title {
        font-size: 50px;
        margin: 30px 0 10px 0;
        color: #fff;
        text-align: center;
    }

    #showAbout,
    #showConnect {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .card {
        margin: 0 auto;
        width: 100%;
        text-align: left;
    }

    .project-header-subtitle {
        font-size: 21px;
        width: 65%;
        line-height: 1.2em;
    }

    #page-content {
        width: 90%;
    }

    .description {
        grid-template-columns: repeat(1, 100%);
        padding: 4em 40px 4em 40px !important;
        gap: 3em;
        margin: 0;
    }

    .regular-content {
        width: 100%;
    }

    .single-img {
        padding: 0 20px 10px 20px;
    }

    .split-img {
        grid-template-columns: repeat(1, 50% 50%);
        padding: 0 35px 15px 20px;
    }

    .post-grid-4 {
        grid-template-columns: repeat(2, 50%);
        padding: 0 35px 15px 20px;
        margin-top: 2em;
    }

    .post-grid-3 {
        grid-template-columns: repeat(1, 100%);
        padding: 0 20px 15px 20px;
        margin-bottom: 0;
    }

    .client-grid {
        grid-template-columns: repeat(3, 29% 29% 32%);
        margin: 30px 20px 4em 20px;
    }
}

/* phone */
@media only screen and (max-width: 599px) {

    .openbtn,
    .closebtn {
        top: 35px;
        right: 30px;
    }

    .openbtn img,
    .closebtn img {
        height: 25px;
    }

    #scroll {
        display: none;
    }

    #third1 {
        height: auto;
    }

    .header-text {
        width: 80%;
        font-size: 45px;
        text-align: left;
    }

    .glow-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        overflow-x: hidden !important;
    }

    .arrow {
        height: 9% !important;
        top: 78% !important;
        left: 55px !important;
    }

    .portfolio {
        padding: 6em 40px 17em 40px !important;
    }

    .portfolio-title {
        font-size: 45px;
        text-align: left;
        margin-bottom: 40px;
    }

    .star {
        display: none;
    }

    #project-gallery {
        grid-template-columns: repeat(1, 100%);
        width: 100%;
        gap: 2%;
    }

    .arrow2-container {
        height: 91px;
    }

    #about-content {
        padding: 0 40px !important;
        width: 100%;
        grid-template-columns: repeat(1, 100%);
        margin: 0 auto;
    }

    .about-img {
        height: 400px;
        margin: 2em 0em 0 0;
        background-position: center;
    }

    .about-buttons {
        text-align: center;
    }

    .about-btn,
    .connect-btn {
        margin: 10px 10px 0px 0;
        font-size: 15px;
    }

    .about-title,
    .connect-title {
        font-size: 50px;
        margin: 40px 0 20px 0;
        color: #fff;
        text-align: center;
        line-height: 1em;
    }

    #showAbout,
    #showConnect {
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }

    .card {
        margin: 0 auto;
        width: 100%;
        text-align: left;
        height: auto;
    }

    .project-header-text {
        font-size: 60px;
        padding: 1em 40px 15px 40px;
    }

    .project-header-subtitle {
        font-size: 20px;
        width: 65%;
        line-height: 1.2em;
    }

    #page-content {
        width: 100%;
    }

    .description {
        grid-template-columns: repeat(1, 100%);
        padding: 3em 20px 3em 20px !important;
        gap: 3em;
        margin-bottom: 2em;
    }

    .overview {
        font-size: 18px;
        line-height: 1.6em;
        color: #1f1f1f;
    }

    .regular-content {
        width: 100%;
        font-size: 18px;
        padding: 0 20px;
    }

    .single-img {
        padding: 0 20px 10px 20px;
    }

    .split-img {
        grid-template-columns: repeat(1, 100%);
        padding: 0 20px 15px 20px;
        gap: 15px;
    }

    .post-grid-4 {
        grid-template-columns: repeat(1, 100%);
        padding: 0 20px 15px 20px;
        margin-top: 2em;
    }

    .post-grid-3 {
        grid-template-columns: repeat(1, 100%);
        padding: 0 20px 15px 20px;
        margin-bottom: 0;
    }

    .client-grid {
        grid-template-columns: repeat(2, 50%);
        margin: 30px 20px 4em 20px;
        gap: 10px;
    }
}
