/*fonts*/

@font-face {
    font-family: 'Inter Light';
    src: url(/fonts/Inter-Light.ttf);
}

@font-face {
    font-family: 'Mark Pro';
    src: url(/fonts/Mark-Pro.ttf);
}


/*general css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #171717;
}

body {
    background-color: #171717;
    color: #fff;
    font-family: 'Inter Light';
    overflow-x: hidden;

    /*webpage fade in*/
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

p {
    margin-bottom: 0;
}


/*text styles*/

.bold {
    color: #10ffa3;
    font-family: 'Mark Pro';
}

.bold-2 {
    color: #fff;
    font-family: 'Mark Pro';
    font-weight: 800;
}


/*links*/

a {
    color: #10ffa3;
    text-decoration: none;
    transition: ease-in 0.4s;
}

a:hover {
    color: #fff;
}


/* navigation */

.topbar {
    background-color: #262626;
    padding: 5px 0 5px 40px !important;
    color: #fff;
    font-size: 20px;
    margin: 50px 0 0 0;
    border-radius: 15px;
}

.logo {
    font-size: 40px;
}

.aa-line-icons {
    --Line-Icons-Size: 35px;
    --Line-Icons-Color: #fff;
    margin: 14px 45px 0 0;
    float: right;
    transition: 0.3s ease-in !important;
}


/*landing page*/

.content {
    margin: 0 auto;
    max-width: 80%;
}

.landing {
    margin: 150px 0 0 0;
}

.landing-title {
    font-family: 'Mark Pro';
    font-size: 90px;
    font-weight: 800;
    line-height: 1em;
}

.arrow {
    font-family: 'Mark Pro';
    font-size: 40px;
    text-align: center;
    margin: 100px 0 100px 0;
}

.regular {
    font-size: 20px;
    margin: 30px 0 50px 0;
    text-align: left;
}


/*portfolio*/

.project {
    border: #171717 solid 10px;
}

.card {
    background-color: #212121;
    color: #fff;
    transition: 0.3s ease-in;
}

.card:hover {
    filter: grayscale(1);
}

.card-title {
    color: #fff;
    font-family: 'Mark Pro';
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin-bottom: -3px;
}

.card-text {
    color: #fff;
    font-size: 19px;
    text-align: center;
}


/*footer*/

.footer {
    background-color: #212121;
    color: #fff;
    padding: 30px 0 30px 0;
    margin-top: 70px;
    text-align: center;
    font-size: 16px;
}


/*cp2077 level*/

/*
.info-box {
    border: solid 1px #171717;
    padding: 20px !important;
    font-size: 21px;
    margin: 40px 0 40px 0;
}

.chat-box-R {
    max-width: 60%;
    border: solid 1px #171717;
    border-radius: 0 30px 30px 30px;
    background-color: #171717;
    color: #fff;
    padding: 20px !important;
    font-size: 21px;
    margin: 0 0 40px 0;
    position: relative;
    float: left;
}

.chat-box-V {
    max-width: 60%;
    border: solid 1px #171717;
    border-radius: 30px 0 30px 30px;
    padding: 20px !important;
    font-size: 21px;
    margin: 0 0 40px 0;
    position: relative;
    float: right !important;
    overflow: auto;
}
*/



/*project mammoth*/

/*
.pm-header {
    background: url(/img/project-mammoth/pm-1.jpg) center center no-repeat;
    background-size: cover;
    height: 500px;
    padding: 0 !important;
}
*/


/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .landing-title {
        font-size: 80px;
    }

    /*
    .chat-box-R {
        max-width: 75%;
    }

    .chat-box-V {
        max-width: 75%;
    }

    .moodboard {
        display: none;
    }

    .cyberpsycho {
        display: none;
    }
*/
}

/* Small devices (landscape phones, 576px and up) */
/*
@media (min-width: 576px) and (max-width: 767.98px) {

    .chat-box-R {
        max-width: 75%;
    }

    .chat-box-V {
        max-width: 75%;
    }

    .moodboard {
        display: none;
    }

    .cyberpsycho {
        display: none;
    }
}
*/

/* Medium devices (tablets, 768px and up) */
/*
@media (min-width: 768px) and (max-width: 991.98px) {

    .chat-box-R {
        max-width: 75%;
    }

    .chat-box-V {
        max-width: 75%;
    }

    .moodboard {
        display: none;
    }

    .cyberpsycho-2 {
        display: none;
    }
}
*/

/* Large devices (desktops, 992px and up) */
/*
@media (min-width: 992px) and (max-width: 1199.98px) {

    .moodboard-2 {
        display: none;
    }

    .cyberpsycho-2 {
        display: none;
    }
}
*/

/* X-Large devices (large desktops, 1200px and up) */
/*
@media (min-width: 1200px) and (max-width: 1399.98px) {

    .moodboard-2 {
        display: none;
    }

    .cyberpsycho-2 {
        display: none;
    }
}
*/

/* XX-Large devices (larger desktops, 1400px and up) */
/*
@media (min-width: 1400px) and (max-width: 1599.98px) {

    .moodboard-2 {
        display: none;
    }

    .cyberpsycho-2 {
        display: none;
    }
}
*/

/* XXX-Large devices (larger monitors, 1600px and up) */
/*
@media (min-width: 1600px) {

    .moodboard-2 {
        display: none;
    }

    .cyberpsycho-2 {
        display: none;
    }
}*/
