/*fonts*/

@font-face {
    font-family: 'Roboto Light';
    src: url(/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto Light Italic';
    src: url(/fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'Macaria';
    src: url(/fonts/Macaria.otf);
}


/*general css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: #171717;
    font-family: 'Roboto Light';
    overflow-x: hidden;
}

.row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

p {
    margin-bottom: 0;
}


/*text styles*/

.bold {
    font-family: 'Macaria';
    font-weight: 600;
    letter-spacing: 0.05em;
}

.accent-colour {
    color: #fc5957;
}


/*links*/

a {
    color: #171717;
    text-decoration: none;
    transition: ease-in 0.4s;
}

a:hover {
    color: #171717;
}


/*footer*/

.footer {
    background-color: #fff;
    color: #171717;
    padding: 30px 0 30px 0;
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.05em;
}


/* navigation */

.general-nav {
    background-color: #fff;
    color: black;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    padding: 25px 0 10px 0;
    top: 0;
    z-index: 100;
    position: sticky;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.43);
}


/* landing page */

.left {
    background-color: #fc5957;
    height: 100vh;
}

.right {
    background-color: #fff;
    height: 100vh;
}

#welcome {
    padding: 100px 0 100px 0;
}

.landing-title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-family: 'Macaria';
    font-size: 200px;
    line-height: 0.9em;
    font-weight: 600;
}

.landing-text {
    font-size: 40px;
    line-height: 1.4em;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.regular-text {
    color: #171717;
    font-size: 25px;
    line-height: 1.4em;
    text-align: center;
}


/*portfolio*/

#portfolio-grid {
    max-width: 80%;
    margin: 0 auto;
}

.project {
    border: #fff solid 10px;
}

.card {
    transition: 0.2s ease-in;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.43);
}

#about {
    max-width: 80%;
    margin: 0 auto;
}


/*connect*/

#connect {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 0 50px 0;
}

.contact-links {
    margin: 0 auto;
    text-align: center;
    margin: 30px 0 0 0;
}

button {
    width: auto;
    padding: 5px 20px;
    border: #fc5957 solid 1px;
    border-radius: 500px;
    background-color: #fc5957;
    color: #fff;
    transition: 0.2s ease-in;
    font-size: 20px;
    text-align: center;
}

button:hover {
    color: #171717;
    background-color: #fff;
    border: #171717 solid 1px;
}
