/* ---------- CSS STYLING ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #0e2235;
}

body {
    height: 100%;
    margin: 0 auto;
    color: #151515;
    background-color: #0e2235;
    font-family: Sofia Pro UL;
    opacity: 1;
    transition: 1s opacity ease-in-out;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/* ---------- */

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

/* ---------- */

@font-face {
    font-family: Sofia Pro UL;
    src: url(../fonts/Sofia-Pro-UL.otf);
    letter-spacing: 0.1px;
}

@font-face {
    font-family: Jazmin;
    src: url(../fonts/Jazmin-Light.otf);
}

@font-face {
    font-family: Sofia Pro Light;
    src: url(../fonts/Sofia-Pro-Extra-Light.otf);
}

@font-face {
    font-family: Sofia Pro Regular;
    src: url(../fonts/Sofia-Pro-Regular.otf);
}

/* ---------- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #bbd5ed;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbd5ed;
}

/* ---------- */

a {
    color: #bbd5ed;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: #151515;
}

p {
    width: 80%;
    font-family: Sofia Pro Light;
    font-size: 18px;
    line-height: 1.5em;
    color: #0e2235;
}

ul {
    width: 80%;
    margin-top: 5px;
    padding-inline-start: 30px;
}

li {
    font-family: Sofia Pro Light;
    font-size: 18px;
    line-height: 1.5em;
    color: #0e2235;
}

button {
    margin: 20px 0;
    padding: 10px 22px;
    font-family: Sofia Pro Regular;
    font-size: 18px;
    text-transform: uppercase;
    border: 0.5px solid #bbd5ed;
    border-radius: 50px;
    color: #0e2235;
    background-color: #bbd5ed;
    transition: 0.3s ease-in-out;
}

button:hover {
    color: #bbd5ed;
    background-color: #0e2235;
    border: 1px solid #bbd5ed;
    cursor: pointer;
}

/* ---------- */

.emoji {
    font-size: 90%;
    vertical-align: top;
}

.inter {
    font-family: Inter;
}

.blue {
    color: #bbd5ed;
}

/* ---------- */

#top-nav {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 25px 50px 0px 50px;
    color: #fff;
    background-color: #0e2235;
}

.name {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.link {
    display: inline;
    float: right;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.link a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.link a:hover {
    color: #bbd5ed;
}

.active a {
    color: #bbd5ed !important;
}

/* ---------- */

.sidenav {
    height: 100%;
    width: 0;
    display: grid;
    place-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #071522;
    overflow-x: hidden;
    transition: 1s ease-in-out;
    z-index: 1000;
}

.resp-link {
    display: block;
    color: #fff;
    font-size: 30px;
    line-height: 1.1em;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.resp-link a {
    color: #fff;
    text-decoration: none;
}

.sidenav-link:hover,
.sidenav-link .stroked:hover {
    color: #fff;
}

.openbtn img {
    height: 30px;
}

.openbtn:hover {
    cursor: pointer;
}

.closebtn img {
    height: 30px;
}

.sidenav-icon img {
    height: 70px;
    margin-bottom: 15px;
}

/* ---- NAVIGATION ---- */

#top-nav {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 25px 50px 0px 50px;
    color: #fff;
    background-color: #0e2235;
}

.name {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.regular-link {
    display: inline;
    float: right;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.regular-link a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.regular-link a:hover {
    color: #bbd5ed;
}

.active a {
    color: #bbd5ed !important;
}

/* ---- RESPONSIVE NAVIGATION ---- */

#open-button {
    display: inline;
    float: right;
    cursor: pointer;
}

#close-button {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

#container {
    width: 70%;
    margin: 0 auto;
    background-color: #0e2235;
}

#header {
    height: 95vh;
    width: 100%;
    display: grid;
    place-items: center;
    align-content: center;
    color: #fff;
    background-color: #0e2235;
    z-index: 1;
}

#header h1 {
    font-family: Jazmin;
    font-size: 50px;
    padding-bottom: 10px;
    color: #bbd5ed;
}

#header h2 {
    width: 40%;
    text-align: center;
    line-height: 1.4em;
}

/* ---------- */

#works-gallery {
    background-color: #fff;
}

#works {
    height: auto;
    width: 70%;
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 auto;
    background-color: #fff;
    z-index: 100;
}

#work {
    margin-bottom: 35px;
}

#work a {
    color: #0e2235;
    text-decoration: none;
}

#work a:hover {
    color: #0e2235;
}

.work1-img {
    height: 300px;
    background: url(../img/thumbnail-rw.png) center center no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
}

.work1-img:hover {
    -webkit-box-shadow: 0px 0px 12px -6px #0E2335;
    box-shadow: 0px 0px 12px -6px #0E2335;
}

.work2-img {
    height: 300px;
    background: url(../img/thumbnail-twb.png) center center no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
}

.work2-img:hover {
    -webkit-box-shadow: 0px 0px 12px -6px #0E2335;
    box-shadow: 0px 0px 12px -6px #0E2335;
}

.work3-img {
    height: 300px;
    background: url(../img/thumbnail-mu.png) center center no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
}

.work3-img:hover {
    -webkit-box-shadow: 0px 0px 12px -6px #0E2335;
    box-shadow: 0px 0px 12px -6px #0E2335;
}

.work4-img {
    height: 300px;
    background: url(../img/thumbnail-pm.png) center center no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
}

.work4-img:hover {
    -webkit-box-shadow: 0px 0px 12px -6px #0E2335;
    box-shadow: 0px 0px 12px -6px #0E2335;
}

.work5-img {
    height: 300px;
    background: url(../img/thumbnail-tbd.png) center center no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
}

.work5-img:hover {
    -webkit-box-shadow: 0px 0px 12px -6px #0E2335;
    box-shadow: 0px 0px 12px -6px #0E2335;
}

.work6-img {
    height: 300px;
    background: url(../img/thumbnail-kofi.png) center center no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
}

.work6-img:hover {
    -webkit-box-shadow: 0px 0px 12px -6px #0E2335;
    box-shadow: 0px 0px 12px -6px #0E2335;
}

#works h3 {
    font-family: Jazmin;
    font-size: 25px;
    text-align: center;
    padding-bottom: 3px;
    color: #0e2235;
}

#works h4 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #0e2235;
    letter-spacing: 0.2px;
}

/* ---------- */

#about-home {
    height: auto;
    padding: 100px 0;
    display: grid;
    place-items: center;
    align-content: center;
    color: #fff;
    background-color: #0e2235;
    z-index: 1;
}

.about-img {
    height: 200px;
    width: 200px;
    background: url(../img/headshot2.png) center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

#about-home h3 {
    width: 50%;
    color: #fff;
    font-size: 19px;
    line-height: 1.5em;
    text-align: center;
}

#about-home a {
    color: #bbd5ed;
    transition: 0.3s ease-in-out;
}

#about-home a:hover {
    color: #fff;
}

.social-icon {
    display: inline;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* ---------- */

#about {
    height: auto;
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 0 auto;
    padding-top: 100px;
    color: #fff;
    background-color: #0e2235;
    z-index: 1;
}

.about-content {
    height: auto;
    padding-left: 20px;
}

.about-headshot {
    height: 250px;
    width: 250px;
    background: url(../img/headshot2.png) center center no-repeat;
    background-size: cover;
    border-radius: 50%;
}

#about h1 {
    font-family: Jazmin;
    font-size: 50px;
    color: #bbd5ed;
    margin-bottom: 10px;
}

#about h3 {
    color: #fff;
    font-size: 19px;
    line-height: 1.5em;
}

#about a {
    color: #bbd5ed;
    transition: 0.3s ease-in-out;
}

#about a:hover {
    color: #fff;
}

.div-line {
    height: 1px;
    margin: 0 auto;
    margin: 40px 0;
    background-color: #bbd5ed77;
}

/* ---------- */

#research {
    padding-bottom: 40px;
    background-color: #0e2235;
}

.research-content {
    margin: 0 auto;
    padding-bottom: 40px;
}

#research h1 {
    font-family: Jazmin;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#research h3 {
    font-size: 19px;
    letter-spacing: 0.2px;
    line-height: 1.5em;
    color: #fff;
}

/* ---------- */

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 10px;
    background-color: #fff;
}

/* ---------- */

#project-header img {
    height: 90vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

#project-page {
    padding: 40px 0 0 0;
    background-color: #fff;
}

.project-page-content {
    margin: 0 auto;
    padding-bottom: 40px;
}

#project-page h1 {
    font-family: Jazmin;
    color: #0e2235;
    font-size: 30px;
    padding-bottom: 20px;
}

#project-page h3 {
    font-size: 21px;
    letter-spacing: 0.2px;
    line-height: 1.5em;
    color: #0e2235;
}

#project-page a {
    color: #0e2235;
}

.div-line-2 {
    height: 1px;
    margin: 0 auto;
    background-color: #bbd5ed77;
}

.section-title {
    color: #0e2235;
    font-family: Jazmin;
    padding-bottom: 10px;
}

/* ---------- */

#copyright {
    padding: 15px 0 25px 0;
    color: #bbd5ed;
    background-color: #0e2235;
    font-size: 13px;
    text-align: center;
}
